---
title: BUGMUTHUR.NET
description: Bugmuthur's site on the Great Web!
permalink: 
layout: null
---
{% include header.html %}
<div class="background">
  <div class="bm-page-content">
    <div class="title">
      <img alt="bugmuthur's icon" src="/bugmuthurs_repository/assets/icons/icon.png" />
    </div>
  <div class="page">
  <div class="subtitle">
  <h1>Welcome to BUGMUTHUR.NET</h1>
    <h1>Bugmuthur is a digital spirit without a corporeal form </h1>
  <h3>Story Box Store is under construction!</h3>
  </div>

    <div class="page-section-1">
    <div class="section">
      <div class="section-left"></div>
      <div class="section-middle">
          <p>Story Box Store</p>
      </div>
      <div class="section-right"></div>
    </div>
    <div class="blog-container">
      <p>Merch and drawings from Bugmuthur's Story Box, an animated web series hosted by Bugmuthur. Orders ship week of 1/26/26.</p>
          <button class="snipcart-checkout view-cart-button">View Cart and Check Out</button>
        <div class="regular">
        <div class = "flex-container">
          {% for post in site.posts %}
                <div class="regular-holder">
                  <a href="{{ post.permalink }}">
                    <div class='regular-labeled-image'>
                      <img alt="square screenshot for blog post" src="{{ post.cover-image }}" />
                        <!-- <div class = "text">  
                          <div class = "dummy"></div>
                          <div class = "dummy"></div>
                          <div class = "dummy"></div>  
                          <h3 >{{ post.shortname }}</h3>
                          <div class = "dummy"></div>
                        </div> -->
                    </div>
                  </a>
                  <div class="product-name">{{post.shortname}}</div>
                  <div class="product-name">${{post.price}}</div>
                  <button class="snipcart-add-item add-button"
                  data-item-id="{{ post.id }}"
                  data-item-url="{{ post.shoplink}}"
                  data-item-price="{{ post.price }}"
                  data-item-description="High-quality replica of The Starry Night by the Dutch post-impressionist painter Vincent van Gogh."
                  data-item-image="{{ post.cover-image }}"
                  data-item-name="{{ post.shortname }}">
                  Add to cart
                </button>
                </div>
          {% endfor %}
          <!--  if  site.posts.size | module: 2  != 0 
          <div class="regular-holder-dummy">
              <div class='regular-labeled-image'>
                <img src="/img/dummy.png" />
              </div>
          </div>
           endif  -->
        </div>
        </div>
    </div>
    </div>

    <div class="page-section-1">
    <div class="section">
      <div class="section-left"></div>
      <div class="section-middle">
          <p>Readings by Indigo</p>
      </div>
      <div class="section-right"></div>
    </div>
    <div class="readings-container">
    <div class="readings-flex-container">
      <p>Indigo connects Bugmuthur to the corporeal world through her digital mediumship practice. Her intuitive specialties are tech-augmented palm readings and trance channeling. She is available for events and personalized spiritual consultation.<br><br>To schedule, email readings@bugmuthur.net</p>
      <!-- <div class="services-box"><p>To schedule, email readings@bugmuthur.net</p></div> -->
      <div class="readings-holder">
        <div class="regular-labeled-image">
      <img alt="indigo tarmac digital medium doing a palm reading" src="/bugmuthurs_repository/assets/readings/indigo_palmReading.jpg" />
      </div>
      </div>
      <div class="readings-holder">
        <div class="regular-labeled-image">
      <img alt="indigo tarmac digital medium channels bugmuthur" src="/bugmuthurs_repository/assets/readings/indigo_channeling.jpg" />
      </div>

      </div>
    </div>
    </div>
    </div>

  <div class="page-section-1">
    <div class="section">
      <div class="section-left"></div>
      <div class="section-middle">
          <p>Memo</p>
      </div>
      <div class="section-right"></div>
    </div>
  <div class="blog-container">
    <p>BUGMUTHUR.NET is Bugmuthur's home address on the Great Web! Disregard the URL in the browser address bar and pay no attention to the lady behind the curtain!<br><br>If you have an animation, visual effects, or cg tool development inquiry<br>email KT at kt@ktcg.art.</p>
  </div>
  </div>
  </div>
{% include footer.html %}