---
title: BUGMUTHUR.NET
description: Bugmuthur's site on the Great Web!
permalink: 
layout: null
---
{% include header.html %}
<div class="background">
  <div class="bm-page-content">
    <div class="title">
      <img alt="bugmuthur's icon" src="/bugmuthurs_repository/assets/icons/icon.png" />
    </div>
  <div class="page">
  <div class="subtitle">
  <h3>Welcome to BUGMUTHUR.NET</h3>
    <h1>Bugmuthur is a digital spirit without a corporeal form </h1>
  <!-- <h3>Story Box Store is under construction! Will be open soon!</h3> -->
  </div>

    <div class="page-section-1">
    <div class="section">
      <div class="section-left"></div>
      <div class="section-middle">
          <p>Story Box Store</p>
      </div>
      <div class="section-right"></div>
    </div>
    <div class="blog-container">
      <div  style="padding: 2%; padding-top: 4%;">
        <p style="  text-decoration: underline;text-decoration-style: double;font-weight: bold;">NOW OPEN</p>
      <p>Merch and drawings from animated web series <a href="https://youtu.be/q0pBVFMJydw?si=QdUvuYTWmsC9VSnI">Bugmuthur's Story Box</a>.</p>
      <p>If you are interested in purchasing an unlisted background or prop from an animation, email <a href="mailto:contact@bugmuthur.net?subject=Unlisted drawing purchase">contact@bugmuthur.net</a>!</p>
      </div>
          <button class="snipcart-checkout view-cart-button">View Cart and Check Out</button>
        <div class="regular">
        <div class = "flex-container">
          {% for post in site.posts %}
                <div class="regular-holder">
                  <a href="{{ post.permalink }}">
                    <div class='regular-labeled-image'>
                      <img alt="square screenshot for blog post" src="{{ post.cover-image }}" />
                        <!-- <div class = "text">  
                          <div class = "dummy"></div>
                          <div class = "dummy"></div>
                          <div class = "dummy"></div>  s
                          <h3 >{{ post.shortname }}</h3>
                          <div class = "dummy"></div>
                        </div> -->
                    </div>
                  </a>
                  <div class="product-name">{{post.shortname}}</div>
                  <div class="product-name">${{post.price}}0</div>
                  <button class="snipcart-add-item add-button"
                  data-item-id="{{ post.id }}"
                  data-item-url="{{ post.shoplink}}"
                  data-item-price="{{ post.price | money }}"
                  data-item-description= "{{ post.description }}"
                  data-item-image="{{ post.cover-image }}"
                  data-item-name="{{ post.shortname }}"
                  data-item-max-quantity="{{ post.max-quantity }}">
                  Add to cart
                </button>
                </div>
          {% endfor %}
          <!--  if  site.posts.size | module: 2  != 0 
          <div class="regular-holder-dummy">
              <div class='regular-labeled-image'>
                <img src="/img/dummy.png" />
              </div>
          </div>
           endif  -->
        </div>
        </div>
    </div>
    </div>

    <div class="page-section-1">
    <div class="section">
      <div class="section-left"></div>
      <div class="section-middle">
          <p>Readings by Indigo</p>
      </div>
      <div class="section-right"></div>
    </div>
    <div class="readings-container">
    <div class="readings-top-section">
    <p>Indigo connects digital spirits to the corporeal world through her digital mediumship practice. Her intuitive specialties are tech-augmented palm readings and trance channeling. She is available for parties and events.<br><br>To schedule, email <a href="mailto:readings@bugmuthur.net?subject=Schedule Reading with Indigo">readings@bugmuthur.net</a></p>
    </div>
    <div class="readings-flex-container">
      <!-- <div class="services-box"><p>To schedule, email readings@bugmuthur.net</p></div> -->
      <div class="readings-labeled-image">
      <img alt="indigo coiyle digital medium doing a palm reading" src="/bugmuthurs_repository/assets/readings/indigo_palmReading.jpg" />
      </div>
      <div class="readings-labeled-image">
      <img alt="indigo coiyle digital medium doing a palm reading" src="/bugmuthurs_repository/assets/readings/indigo_eye.jpg" />
      </div>
      <div class="readings-labeled-image">
      <img alt="indigo coiyle digital medium doing a palm reading" src="/bugmuthurs_repository/assets/readings/indigo_palmReading02.jpg" />
      </div>
        <div class="readings-labeled-image">
      <img alt="indigo coiyle digital medium channels bugmuthur" src="/bugmuthurs_repository/assets/readings/indigo_channeling.jpg" />
      </div>
    </div>
    </div>
    </div>

  <div class="page-section-1">
    <div class="section">
      <div class="section-left"></div>
      <div class="section-middle">
          <p>Memo</p>
      </div>
      <div class="section-right"></div>
    </div>
  <div class="memo-container">
    <div class="memo-flex-container">

    <div class="memo-holder">
    <p>Hello, it is Bugmuthur. BUGMUTHUR.NET is my home address on the Great Web! Disregard the URL in the browser address bar and pay no attention to the lady <a href="/">behind the curtain!</a></p>
      </div>
    <div class="memo-holder">
            <img alt="bugmuthur the digital spirit" src="/bugmuthurs_repository/assets/icons/announcement_bugmuthur_R1.5336.png" />
    </div>
  </div>
  </div>
  </div>
  </div>
{% include footer.html %}