@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono');

.bm-page-content {
  background-image: url('style_img/desk_bg.jpg');
  background-repeat: repeat;
  background-size: contain;
  padding-top: 5%;
  padding-bottom: 5%;
  max-width: 1200px;
  min-width: 300px;
  /* margin: auto; */
  font-family: 'Share Tech Mono', Arial, sans-serif;
  margin: auto;
  /*font-family: 'Open Sans', Helvetica, sans-serif;*/
  /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Helvetica, sans-serif;*/
}

.page {
  padding: 5%;
  background-color: #99cc99; 
  border-width: 1px;
  border-style: double;
}

.product-page-content {
  background-image: url('style_img/desk_bg.jpg');
  background-repeat: repeat;
  background-size: contain;
  padding-top: 3%;
  padding-bottom: 5%;
  max-width: 1200px;
  min-width: 300px;
  /* margin: auto; */
  font-family: 'Share Tech Mono', Arial, sans-serif;
  margin: auto;
}

.product-page {
  background-color: white; 
  border-width: 5px;
  border-style: double;
  margin: 4%;
  padding: 3%;

}

.background{
  background-color: black;
}

.title {
  margin: auto;
  max-width: 100%;
}

.title h1 {
  text-align: center;
  color: #ccffcc; 
  font-size: 5em;
}

.title img{
  object-fit: contain;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 5%;
  padding: 0;
  max-width: 40%;
}

.subtitle {
  margin:auto;
  text-align: center;
  max-width: 80%;
}

.subtitle h2 {
  text-align: center;
  color: black;
  font-size: 1.3em;
  text-decoration: underline;
  text-decoration-style: double;
  font-weight: bold;
}

.subtitle h3 {
  text-align: center;
  color: black;
  font-size: 1.5em;
  text-decoration: underline;
  text-decoration-style: double;
}

.top-bar {
  background-color: #99cc99; 
  max-width: 1200px;
  margin:auto;
  margin-bottom: 3%;
}
.top-bar img{
  object-fit: contain;
  margin-left: 46%;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 0;
  max-width: 8%;
}

.section{
  width: 100%;
  height: 60px;
  display: flex;
  text-decoration: none !important;
}

.section a{
  text-decoration: none !important;
  color: black;
  max-width: 90%;
}

.section-container  {
  padding: 2px;
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 0px 1px;
  display: block;
  text-align: center;
  margin: 5%;
  min-width: 90%;
  max-height: 100%;
  background-color: white;
}

.section-container h2{
  color: black;
  font-size: 1.5em;
}

.section-container p{
  text-align: left;
  color:black
}

.page-section-1 {
  margin-left: 2%;
  margin-right: 2%;
  max-width: 96%;;
  overflow: hidden;
  margin-top: 3%;
  margin-bottom: 3%;
  
}

.section-left, .label-left {
  box-sizing: border-box;
  flex-grow: 1;
  border-style: double;
  border-width: 0px 0px 5px 0px;
}


.section-middle, .small-section-middle, .label-middle{
  text-align: center;
  font-family: 'Share Tech Mono', Helvetica, monospace;
  box-sizing: border-box;
  width: 33.333%;
  min-width: 200pt;
  height: 100%;
  border-style: double;
  border-color: black;
  border-width: 5px 5px 0px 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*background-image: url("pay_for_me.png");
  background-repeat: repeat-x;
  background-size: 40px;*/
  background-color: rgba(0, 0, 0, 0.4);
  background-color: white; 
}

.section-middle img{
  position: relative;
  top: .3em;
  height: 1em;
  margin: 0px;
  padding: 0px;
}

.section-middle, .small-section-middle, .label-middle p{
  margin: 0px;
  padding: 0px;
  font-size: 1.625em;
  font-weight: bold;
  color: black; 
  padding: 1%;
}

.section-right, .label-right{
  box-sizing: border-box;
  flex-grow: 1;
  
  border-style: double;
  border-width: 0px 0px 5px 0px;
}

.blog-container  {
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  border-style: double;
  background-color: white;
  border-width: 0px 5px 5px 5px;
  display: block;
  flex-wrap: wrap;
  align-items: space-around;
  margin:auto;
  text-align: center;
}

.readings-container  {
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  border-style: double;
  background-color: white;
  border-width: 0px 5px 5px 5px;

  justify-content: flex-start;
  flex-wrap: wrap;
}

.readings-item{
  max-width: 33%;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 15em;
}

.readings-item img {
  max-width: 15em;
}

.readings-item p {
  padding: 1%;
  color: black; 
  background-color: white; 
}

.about-container  {
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  border-style: double;
  background-color: white;
  border-width: 5px 5px 5px 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: space-around;
  margin:auto;
  text-align: center;
  padding: 1%;
}

.blog-container p {
  padding: 1%;
  color: black; 
  background-color: white; 
  margin: auto;
}

.regular {
  display: block;
  flex-basis: 50%;
  min-width: 300px;
  flex-grow: 1;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.flex-container {
  display: flex;
  width: 100%;
  height: 340px;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow-y:scroll;
  box-sizing: border-box;
  padding: 10px;
}

.readings-flex-container {
  display: flex;
  width: 100%;
  height: 370px;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow-y:scroll;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.readings-holder{
  flex-basis: 16em;
  position: relative;
  box-sizing: border-box;
  flex-grow: 0;
  margin: 0.9375em;
  overflow: hidden;
  text-decoration: none !important;
  text-align: center;
}

.regular-text-holder{
  flex-basis: 16em;
  position: relative;
  box-sizing: border-box;
  margin: 0.9375em;
  margin-top: 0px;
  overflow: hidden;
  text-decoration: none !important;
}

/* touchscreen stuff */
@media (pointer:coarse), screen and (max-width: 642) {
    .flex-container{
      overflow-x: scroll;
      overflow-y: hidden;
      flex-flow: column;
      flex-wrap: wrap;
      height: 320px;
      margin-right: 5%;
    }

    .readings-flex-container {
      overflow-x: scroll;
      overflow-y: hidden;
      flex-flow: column;
      flex-wrap: wrap;
      height: 280px;
      margin-right: 5%;
    }
}

.regular-holder, .regular-holder-dummy {
  flex-basis: 16em;
  position: relative;
  box-sizing: border-box;
  flex-grow: 0;
  margin: 0.9375em;
  margin-top: 0px;
  overflow: hidden;
  text-decoration: none !important;
}

.regular-labeled-image {
  display: flex;
  aspect-ratio: 4/3;
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none !important;
}

.regular-labeled-image img{
  object-fit: contain;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.dummy{
  width: 100%;
  height: .3125em;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  
  .text-1 {
    font-size: 11px
  }
}

.text {
  display: flex;
  flex-wrap: wrap;
  /*flex-direction: row;*/
  justify-content: flex-end; /* horizontal position */
  align-items: flex-end; /* vertical position */
  position: absolute;
  max-width: 100%;
  overflow: auto;
  width: 100%;
  text-decoration: none !important;
  color: black;
}


.text h3{
  font-size: 11pt;
}

.text h1{
  font-size: 8pt;
  font-weight: normal;
  padding: 2px;
  padding-right: 0px;
}

/* Caption text */
.text-1 {
  color: #ffffff;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.product-name {
  color: black;
  display: block;
}

.add-button {
  background-color: white;
  font-family: 'Share Tech Mono', Helvetica, monospace;
  width: 50%;
  font-size: 0.8em;
  padding: 5%;
  color: black;
}

.add-button:hover, .view-cart-button:hover {
  background-color: #99cc99; ; /* Color when hovered over */
}

.view-cart-button {
  background-color: white;
  font-family: 'Share Tech Mono', Helvetica, monospace;
  text-align: center;
  color:black;
  font-size: 1em;
  margin: 1%;
  padding: 1%;
}

.services-box {
  background-color: white;
  width: 100%;
  display: block;
  color: black;
  text-align: center;
  font-size: 1em;
  margin-left: 20%;
  margin-right: 20%;
  padding: 1%;
  border-width: 2px 2px 2px 2px;
  border-style: double;
}

.socials-container {
  padding-top: 2%;
  display: flex;
  width: 50%;
  flex-flow: row;
  justify-content: space-around;
  margin: auto;
}

.socials-container img{
  max-width: 2em;
  opacity: 0.7;
}

.socials-container p {
  text-align: center;
  color: #ccffcc; 
}