---
title: post
description: post
permalink: 
layout: null
---
{% include header.html %}

<div class="background">
    <div class="product-page-content">
        {% include top_bar.html %}
        <div class="product-page">
            <!-- <div class="content"> -->
                <h1>{{ page.shortname }}</h1>
                <h2>${{ page.price }}0</h2>
                <h3>{{ page.media }}</h3>
                <h3>{{ page.dimensions }}</h3>
                <p>{{ page.description }}</p>
                <p>On mobile, scroll right for images.</p>
                <div class="listing-image-container">
                    {% assign images = page.listing-images | split:"," %}
                    {% for member in images %}
                        {% assign filename = page.listing-dir  | append: member %}
                        <div class="listing-image-holder">
                        <img alt="square screenshot for blog post" src="{{ filename }}"/>
                        </div>

                    {% endfor %}
                </div>
                <p>{{ page.content }}</p>
                <div style="max-width: 50%; margin:auto; display: flex; justify-content: space-around;">
                  <button class="snipcart-add-item add-button"
                  data-item-id="{{ page.id }}"
                  data-item-url="{{ page.shoplink}}"
                  data-item-price="{{ page.price }}"
                  data-item-description= "{{ page.description }}"
                  data-item-image="{{ page.cover-image }}"
                  data-item-name="{{ page.shortname }}"
                  data-item-max-quantity="{{ page.max-quantity }}">
                  Add to cart
                </button>
                </div>
                <p>Stickers and drawings ship via USPS for $7. Next round of shipments goes out week of 1/26/26.</p> 
                <p>At this time, shipping only available to addresses located within the states and territories of the USA. If you are located outside the USA and would like to place an order, email contact@bugmuthur.net.</p>
                <div style="max-width: 50%; margin:auto; display: flex; justify-content: space-around;">
                    <button class="snipcart-checkout view-cart-button">View Cart and Check Out</button>
                </div>
                {% if page.type == "background" or page.type == "prop" %}
                <p>Backgrounds and props are hand-drawn as part of an animation production pipeline. Any usage marks that the artwork incurred during production are clearly shown in listing images.</p>
                {% endif %}
                <p>All sales final. If you are unsatisfied with your purchase or if it arrives damaged, email contact@bugmuthur.net.</p>
                
            <!-- </div> -->

        </div>

{% include footer.html %}